.DS_Store
/.build
/Packages
RingSample/RingSample.xcodeproj/project.xcworkspace/xcuserdata/ctarda.xcuserdatad/UserInterfaceState.xcuserstate
Ring.xcodeproj/project.xcworkspace/xcuserdata/ctarda.xcuserdatad/UserInterfaceState.xcuserstate
